
.contenedorImagen{
    width: 25%;   
    margin: 10px;  
}

.contenedorVisor{
    position: relative;
    display: inline;
}
.botones {
    width: 70px;
    height: 70px;
    padding-top: 12px;
    border-radius: 50%;
    background-color: gray;
    color: white;
    text-align: center;
    font-weight: bold;    
    font-size: 30px;
}
.imagen {
    width: 50%;
}